# ============================
# PostgreSQL Local Configuration
# ============================
DB_USER=postgres
DB_PASSWORD=123
DB_HOST=localhost
DB_PORT=5432
DB_NAME=securechain

DATABASE_URL=postgresql://postgres:123@localhost:5432/securechain

# ============================
# JWT Authentication
# ============================
SECRET_KEY=supersecretkey123
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ============================
# AES-256 Encryption Key
# ============================
AES_KEY=UQ0Nuj4RWMBd8eEwrP127SSfw2nueDtvSVYHksoIadA=
