:root{

--bg:#070B14;

--card:#111827;

--card2:#1F2937;

--primary:#00E5FF;

--secondary:#6D28D9;

--success:#00FF9C;

--danger:#FF4D6D;

--warning:#FFC300;

--text:#E5E7EB;

--text2:#94A3B8;

--border:#1E293B;

--glow:0 0 12px rgba(0,229,255,.45);

}